%h2
  %em.fa.fa-gavel
  = title t '.title'

:markdown
  #### #{t '.rules'}

- if @orgas.present?
  %table.list
    %thead
      %tr
        %th= Orga.human_attribute_name :name
        %th= Orga.human_attribute_name :city
        %th= Orga.human_attribute_name :region
        %th= Orga.human_attribute_name :submission_time
        %th= t '.actions'

    %tbody
      - @orgas.each do |orga|
        %tr
          %td= orga.name
          %td= orga.city
          %td= orga.region
          %td= time_ago_in_words orga.submission_time
          %th.actions
            = link_to edit_orga_path orga do
              %em.fa.fa-edit
              = t 'edit'
            \-
            = link_to validate_orga_path orga do
              %em.fa.fa-thumbs-up
              = t 'validate'
            \-
            = link_to cancel_orga_path orga do
              %em.fa.fa-thumbs-down
              = t 'refuse'

- if @events.present?
  %table.list
    %thead
      %tr
        %th= Event.human_attribute_name :title
        %th
          = Event.human_attribute_name :start_time
          \-
          = Event.human_attribute_name :end_time
        %th= Event.human_attribute_name :city
        %th= Event.human_attribute_name :region
        %th= Event.human_attribute_name :submission_time
        %th= t '.actions'

    %tbody
      - @events.each do |event|
        %tr
          %td= event.title
          %td= display_date event
          %td= event.city
          %td= event.region.name
          %td= time_ago_in_words event.submission_time
          %th.actions
            = link_to edit_moderation_path event do
              %em.fa.fa-edit
              = t 'edit'
            \-
            = link_to validate_moderation_path event do
              %em.fa.fa-thumbs-up
              = t 'validate'
            \-
            = link_to refuse_moderation_path event do
              %em.fa.fa-thumbs-down
              = t 'refuse'
            \-
            = link_to new_moderation_note_path event, envoiParMail: :oui do
              %em.fa.fa-bullhorn
              = t '.askInfos'
            \-
            = link_to new_moderation_note_path event do
              %em.fa.fa-paperclip
              = t '.createNote'

        - event.notes.each do |note|
          %tr
            %td.empty/
            %td.note(colspan="5")
              = raw note.contents
              %em.author
                = t '.posted_by',
                  author: "#{note.author.firstname} #{note.author.lastname}",
                  date: l(note.date, format: :at) rescue nil

.logout
  = link_to destroy_user_session_path, method: :delete do
    %em.fa.fa-sign-out-alt
    = t 'logout'
