%h2
  %em.fa.fa-exclamation-triangle
  = t '.title'

- if @event.locality?
  %h2.warning= t '.warning'

= form_for @moderation, url: { action: :accept }, html: { method: :put } do |f|
  .actions
    = link_to moderations_path do
      %em.fa.fa-arrow-left
      = t '.ko'

    = f.button do
      %em.fa.fa-thumbs-up
      = t '.ok'

- if ENV['TWITTER_CONSUMER_KEY'] || Rails.env.development?
  %fieldset
    %legend
      %em.fab.fa-twitter
      Tweet

    %h3= t '.tweet_helper'

    = @event.to_tweet

- if @event.repeat > 0
  %fieldset
    %legend
      %em.fa.fa-repeat
      = Event.human_attribute_name :repeat

    %h3= t '.repeat_helper', count: @event.repeat

    %p.rule
      = Event.human_attribute_name :rule
      = t @event.rule, scope: 'activerecord.attributes.event.rule_values'

%fieldset
  %legend
    %em.fa.fa-calendar
    = Event.model_name.human
  = render file: '/events/show'
