%aside
  %h1
    %em.fa.fa-link
    = t '.links'

  %ul.fa-ul
    %li
      = link_to orgas_path(q: params[:q], page: params[:page]),
        class: :back do
        %em.fa.fa-li.fa-arrow-left
        = Orga.model_name.human.pluralize
    %li
      = link_to tag_path @orga.name_as_tag do
        %em.fa.fa-li.fa-tag
        = Event.model_name.human.pluralize
    %li
      = link_to events_path tag: @orga.name_as_tag do
        %em.fa.fa-li.fa-calendar
        Agenda
    %li
      = link_to events_path format: :rss, tag: @orga.name_as_tag do
        %em.fa.fa-li.fa-rss
        RSS
    %li
      = link_to events_path format: :ics, tag: @orga.name_as_tag do
        %em.fa.fa-li.fa-th-list
        iCal
    %li
      = link_to maps_path tag: @orga.name_as_tag do
        %em.fa.fa-li.fa-map-marker
        OpenStreetMap
    %li
      = link_to maps_path format: :json, tag: @orga.name_as_tag do
        %em.fa.fa-li.fa-dot-circle
        GeoJSON

  - if @orga.secret.nil? || user_signed_in?
    %h1
      %em.fa.fa-wrench
      = t '.actions'
    %h2
      = link_to edit_orga_path @orga do
        %em.fa.fa-lg.fa-edit
        = t '.edit'
    - if user_signed_in?
      %h2
        = link_to cancel_orga_path @orga do
          %em.fa.fa-lg.fa-thumbs-down
          = t '.cancel'

