= search_form_for Orga.search(params[:q]) do |f|
  = f.label :search, t('.label')
  %em.fa.fa-users
  = f.search_field :name_or_city_or_tags_or_description_cont_any,
    id: :q_search, size: 16,
    placeholder: t('.title', entity: Orga.model_name.human),
    title: t('.helper', entity: Orga.model_name.human)
  = f.button class: :search do
    %em.fa.fa-search
    %span.label= t '.label'
