%h2
  %em.fa.fa-trash-alt
  = t '.title'

- if @orga.moderated?
  %h3.warning= t '.already_moderated'

%fieldset
  = form_for @orga, method: :delete do |f|
    = hidden_field_tag :secret, params[:secret]
    %h2= t '.confirm'

    .actions
      = link_to @orga do
        %em.fa.fa-arrow-left
        = t '.ko'
      = f.button do
        %em.fa.fa-check
        = t '.ok'

%fieldset
  %legend= Orga.model_name.human
  = render file: '/orgas/show'
