%h2
  %em.fa.fa-map
  = title t '.title'
  - if params[:tag]
    %em.fa.fa-tag
    %em= params[:tag]

%ul.list#map
  %li
    = link_to maps_path format: :json do
      .awesome-marker.awesome-marker-icon-blue
        %i.icon-white.fa.fa-calendar
      = Event.model_name.human
  - cs = %w(blue red darkred orange green darkgreen purple darkpuple cadetblue)
  - idx = 1
  - Kind.all.each do |kind|
    %li
      = link_to map_path kind.name, format: :json do
        .awesome-marker{ class: "awesome-marker-icon-#{cs[idx % cs.length]}" }
          %i.icon-white.fa{ class: "fa-#{kind.icon}" }
        = Kind.human_attribute_name("name_#{kind.name}")
      - idx += 1
