- if params[:year]
  %header.calendar-header.year
    = link_to year: params[:year].to_i - 1, tag: params[:tag] do
      %em.fa.fa-backward
    = params[:year]
    = link_to year: params[:year].to_i + 1, tag: params[:tag] do
      %em.fa.fa-forward
    :ruby
      set_meta_tags(
        prev: url_for(year: params[:year].to_i - 1),
        next: url_for(year: params[:year].to_i + 1)
      )

  - (1..12).each do |i|
    - params[:start_date] = "#{params[:year]}-#{i}-01"

    = month_calendar do |date|
      - capture_haml do
        .day_number= date.day
        %ul.events.fa-ul= render month_events(@events, date)

- else
  -# One month calendar
  - params[:start_date] ||= Time.zone.today.beginning_of_month
  :ruby
    set_meta_tags(
      prev: url_for(start_date: params[:start_date].to_date - 1.month),
      next: url_for(start_date: params[:start_date].to_date + 1.month)
    )
  - @events = @events.month params[:start_date]
  = month_calendar events: @events do |date, events|
    - capture_haml do
      .day_number= date.day
      %ul.events.fa-ul= render events

.links
  = raw t '.calendar_in',
    rss: link_to('RSS', events_path(:rss,
      tag: params[:tag], region: session[:region])),
    webcal: link_to('webcal', events_path(tag: params[:tag],
      protocol: 'webcal', format: :ics, region: session[:region])),
    ical: link_to('iCal', events_path(:rss,
      tag: params[:tag], format: :ics, region: session[:region]))

  \-

  = link_to page_path('filter') do
    %em.fa.fa-filter
    = t '.filter'

%a#banner(href='https://april.org/campagne')
  = image_tag 'priorite-logiciel-libre-je-soutiens-april_2_m.png',
    width: '374', height: '48',
    alt: 'Priorité au Logiciel Libre! Je soutiens l\'April.'

/
  %a#banner(href='https://www.libre-en-fete.net')
    = image_tag 'lef.png', width: '180', height: '60', alt: 'Libre en Fete'

- set_events_meta
