%h2
  %em.fa.fa-tag
  = title params[:id]

%aside
  %h1
    %em.fa.fa-link
    = t '.links'

  %ul.fa-ul
    %li
      = link_to tags_path, class: :back do
        %em.fa.fa-li.fa-arrow-left
        = Event.human_attribute_name :tags
    %li
      = link_to events_path tag: params[:id] do
        %em.fa.fa-li.fa-calendar
        Agenda
    %li
      = link_to events_path format: :rss, tag: params[:id] do
        %em.fa.fa-li.fa-rss
        RSS
    %li
      = link_to events_path format: :ics, tag: params[:id] do
        %em.fa.fa-li.fa-th-list
        iCal
    %li
      = link_to maps_path tag: params[:id] do
        %em.fa.fa-li.fa-map-marker
        OpenStreetMap
    %li
      = link_to maps_path format: :json, tag: params[:id] do
        %em.fa.fa-li.fa-dot-circle
        GeoJSON

- @events_future.order('start_time asc').each do |event|
  %article.event
    %h3
      = link_to event do
        %em.city= event.city
        = event.title
    %p.full_address
      - if event.place_name.present?
        %span= event.place_name
      - if event.address.present?
        %span= event.address
    %p= display_date event
    .description
      = description sanitize event.description,
        tags: %w(p h1 h2 h3 h4 br table tr th td ul ol li a strong b em i img sub sup span),
        attributes: %w(href src width height style title)

- if @events_past.any?
  %h2
    %em.fa.fa-backward
    = t '.past'
  %ul.fa-ul
    - @events_past.order('start_time desc').each do |event|
      %li
        = link_to event do
          - if event.locality?
            %em.locality.fa-li.fa.fa-globe
          - elsif event.tags.any? { |t| t.name.include? 'libre-en-fete' }
            = image_tag 'lef-small.png', alt: 'LEF', width: 16, height: 16
          %em.city{ title: event.address }= event.city
          = event.title
        .date= display_date event
