$(document).on 'turbolinks:load', ->
  # Setup the graphical editor for event's description
  tinyMCE.init
    schema: 'html5'
    height: '40em'
    menubar: false
    branding: false
    language: 'fr_FR'
    selector: 'input.description'
    content_css: '<%= asset_path 'application.css' %>'
    entity_encoding: 'raw'
    add_unload_trigger: true
    browser_spellcheck: true
    toolbar: [
      ' cut copy paste
      | undo redo
      | searchreplace
      | link image media charmap table
      | code visualblocks preview fullscreen',
      ' removeformat
      | bold italic strikethrough
      | superscript subscript
      | bullist numlist
      | alignleft aligncenter alignright alignjustify alignnone
      | outdent indent'
    ]
    plugins: 'lists, advlist, autolink, link, image, charmap, paste, print,
      preview, table, fullscreen, searchreplace, media, insertdatetime,
      visualblocks, wordcount, contextmenu, code'

$(document).on 'turbolinks:before-cache', ->
  # Delete existing tinymce editors, very important in the turbolinks context!
  tinymce.remove()
