// Tag list in event display
p.tags a:after
  color: black
  content: ','
p.tags a:last-child:after
  content: ''

.css1
  font-size: 0.8em
.css2
  font-size: 1.0em
.css3
  font-size: 1.4em
.css4
  font-size: 1.8em

div.tagsinput
  height: auto !important
  border: none
  margin: 0
  padding: 0
  display: inline-block
  min-height: auto !important
  vertical-align: middle
  span.tag
    margin: 0
    padding: 0.75em
    font-size: inherit
    font-family: inherit
  #event_tag_list_addTag, #tag_addTag
    float: none
    text-align: left
    &:first-child
      #event_tag_list_tag, #tag_tag
        width: 100% !important
  input, .ui-autocomplete-input
    width: 8em !important
    border: solid 0.25em transparent !important
    padding: 0.6em
    font-size: inherit
    margin-right: 0
    margin-bottom: 0
    &:focus
      border-color: #F0F8FF !important
