%li{ class: session[:region] == filter_region.id ? 'selected' : '' }
  - if filter_region.url.present?
    = link_to filter_region.url do
      - if filter_region.code.present?
        = flag_icon filter_region.code.downcase
      = filter_region.name
      %small
        %em.fa.fa-external-link-alt
  - else
    = link_to tag: params[:tag],
      region: session[:region] == filter_region.id ? :all : filter_region,
      start_date: params[:start_date],
      year: params[:year] do
      - if filter_region.code.present?
        = flag_icon filter_region.code.downcase
      - else
        %em.fa.fa-shield-alt
      = filter_region.name
      - if session[:region] == filter_region.id
        %em.fa.fa-times
      - elsif filter_region.regions.present?
        %small
          %em.fa.fa-chevron-down

  %ul
    = render partial: '/regions/filter_region',
      collection: filter_region.regions
