- if selector_region.regions.present? || selector_region.url.blank?
  %span.region{ title: selector_region }
    = f.radio_button :region_id, selector_region.id
    = f.label "region_id_#{selector_region.id}" do
      - if selector_region.code.present?
        = flag_icon selector_region.code.downcase
      - else
        %em.fa.fa-map
      = selector_region
      - if selector_region.regions.present?
        %small
          %em.fa.fa-chevron-right
    - if selector_region.regions.present?
      .radios
        = f.collection_radio_buttons :region_id,
        Region.where(region: selector_region), :id, :name, include_hidden: false
